h1, h2, h3, h4, h5, h6, p, input, label, textarea {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

p{
    color: green;
    border: 1px solid blue;
    text-align: center;
}

#title1{
    font-size: 20px;
    font-weight: bold;
}

input[type="text"]{
    background-color: yellow;
    border-radius: 3px;
}

input[type="file"] {
    margin: 10px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}